.bm-menu {
    background-color: #18232f;
}

.bm-morph-shape {
    fill: #18232f;
}

.bm-item-list {
    padding: 20px;

    a {
        padding: 15px;
        color: #1abc9c;
    }

    span {
        margin-left: 10px;
        font-weight: 700;
        font-size: 18px;
    }

}