<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/{{path}}/bundle.css" />
    <title>Vascan система обработки данных</title>
</head>
<body>
    <div id="root"></div>
    <script src="/{{path}}/vendor.js"></script>
    <script src="/{{path}}/app.js"></script>
</body>
</html>