body {
    background-color: #2c3e50 !important;
}

.AddScan__inputFileUpload {
    width: 100%;
    height: 100px;
    text-align: center;
    border: 1px dashed #1abc9c;
    border-radius: 4px;
    &_over {
        border: 1px dashed #e3e3e3;
    }
    h3 {
        padding-top: 25px;
    }
}

.AddScan__labelFileUpload {
    color: #fff;
    &_over {
        color: #e3e3e3;
    }
}

.Header {
    background-color: #1abc9c !important;
    border-radius: 0 !important;
}

.ExperimentsPage, .AddExperment, .VoltamogrammPage, .MeasurePage {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    flex-wrap: wrap;
}

.VoltamogrammPage {
    &__voltamogrammForm {
        width: 80%;
        padding-bottom: 10px;
    }
}

.ExperimentsPage__Tree, .VoltamogrammPage__Tree {
    width: 30% !important;
    min-height: 460px !important;

    .header, .icon {
        color: #5bc0de !important;
        font-size: 15px;
    }
}

.ExperimentsPage__Item, .VoltamogrammPage__Scan {
    width: 60% !important;
    min-height: 460px !important;
    margin: 0 !important;
}

.MeasurePage__ChartCard {
    width: 70% !important;
    min-height: 600px !important;
}

.AddVoltamogrammForm {
    width: 100% !important;
}

.axis {
    path, line, text {
        stroke: #fff;
        fill: none;
        shape-rendering: crispEdges;
    }
}

.ListItem {
    color: #5bc0de !important;
    border-bottom: 0 !important;
    & a {
        color: #5bc0de !important;
    }
}

.bm-menu {
    background-color: #18232f;
}

.bm-morph-shape {
    fill: #18232f;
}

.bm-item-list {
    padding: 20px;

    a {
        padding: 15px;
        color: #1abc9c;

        span {
            margin-left: 10px;
            font-weight: 700;
            font-size: 18px;
        }
    }
}

.Login {
    width: 300px;
    margin: 30px auto;
    text-align: center;
}